<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OpenXR Widescreen Layer"
           Language="1033" Version="1.0.0"
           Manufacturer="fommil"
           UpgradeCode="0490F452-3EA7-4478-9372-EAE4D32C3666">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="Widescreen Layer" Level="1">
      <ComponentRef Id="LayerFiles"/>
      <ComponentRef Id="RegEnable"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="OpenXRDir" Name="OpenXR">
          <Directory Id="LayersDir" Name="Layers">
            <Directory Id="WideDir"  Name="Widescreen">

              <Component Id="LayerFiles" Guid="0CECD038-4558-490C-B10C-B79ABDCFD84E" Win64="yes">
                <File Id="Dll"
                      Source="..\x64\$(var.Configuration)\XR_APILAYER_fommil_widescreen.dll"/>
                <File Id="Json"
                      Source="..\XR_APILAYER_fommil_widescreen.json"/>
              </Component>

              <Component Id="RegEnable" Guid="C08726CA-E0C6-4B8C-A509-D4EC2E65E9B4" Win64="yes">
                <RegistryValue Root="HKLM"
                               Key="Software\Khronos\OpenXR\1\ApiLayers\Implicit"
                               Name="[WideDir]XR_APILAYER_fommil_widescreen.json"
                               Type="integer"
                               Value="0"
                               Action="write"/>
              </Component>

            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

  </Product>
</Wix>
